#### whitelist!
*
!.gitignore
!.git/
!.git/**

#zsh
!zsh/
!zsh/**

#tmux
!tmux/
!tmux/**

#NEOVIM :)
!nvim/
!nvim/.config/nvim/**

#normal vim why not
!vim/
!vim/**

#ghostty (tbd)

#hypr...

# scripts???

# md files README mostly
!*.md
