#### whitelist!
*
!.gitignore
!git/
!git/**

#zsh
!zsh/
!zsh/**

#tmux
!tmux/
!tmux/.tmux.conf

#NEOVIM :)
!nvim/
!nvim/**
!nvim/.config/**

#normal vim why not
!vim/
!vim/**

#ghostty (tbd)

#hypr...

# scripts???
!scripts/
!scripts/**

# md files README mostly
!*.md
